node_modules/

js-child/.cache/
js-child/dist/

js-parent/.cache/
js-parent/dist/

react-child/.cache/
react-child/dist/

react-parent/.cache/
react-parent/dist/

svelte-child/.cache/
svelte-child/dist/
svelte-child/node_modules/

